{
  "presets": [
    "@babel/env"
  ],
  "plugins": [
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
