{
  "presets": ["@babel/react", "@babel/typescript", "@babel/env"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
